<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <title>timeStamp microService</title>
  </head>
  <body>
    <div class="container">
      <div class="space">
        <div class="visual-container">
          <div class="space">
            <div class="content">
              <h1>TimeStamp Microservice</h1>
              <p>Add a time at the end of the URL to have it display in Unix and Natural time formats.</p>
              <p>Example: <br>
              Add <code>/January 1, 1999</code> or <code>/915148800000</code></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>